.body {
	@apply flex justify-center items-center w-full;

	.conteiner {
		@apply flex lg:flex-row flex-col-reverse bg-[#F4F8F9] 
		 xl:mt-48 xl:mb-24 lg:mt-24 lg:mb-12 md:mt-80 md:mb-12 mt-60 mb-12 xl:w-[85%] lg:w-[95%] w-[92%];

		.informationDownload {
			@apply flex flex-col bg-[#F4F8F9] lg:w-[100%] p-4 lg:pl-12 
			md:p-0 lg:items-start items-center lg:justify-center;

			.title {
				@apply lg:text-[34px] lg:text-left w-[85%] md:w-[65%] lg:w-[62%] xl:w-[60%] font-medium text-[26px] leading-[120%] text-center
				xl:text-[38px] xl:font-semibold text-[#4e4e4e];

				span {
					@apply lg:text-[34px] xl:font-semibold xl:text-[38px] lg:text-left text-[26px] font-medium text-cyan1;
				}
			}

			.downloadText {
				@apply lg:text-[15px] md:w-[60%] lg:w-[79%] text-center lg:text-left text-[15px] leading-[150%] text-[#95a1a1] xl:w-[62%] 
				pt-6 lg:pt-0 xl:text-[17px];
			}

			.line {
				@apply mx-auto mt-4 lg:ml-0 lg:my-6 w-[111px] h-[4px] bg-[#eaeeef] rounded-[30px];
			}

			img {
				@apply lg:pt-6 pt-3 w-[180px] mx-auto lg:mx-0;
			}

			.downloadButton {
				@apply flex md:flex-row flex-col md:gap-4 lg:pt-2 pt-5 mb-16 lg:mb-0;

				.playMButton {
					@apply cursor-pointer;
				}
				.appleButton {
					@apply cursor-pointer;
				}
			}
		}
		.imgPart {
			@apply mt-[-8rem] md:mt-[-13rem] xl:mt-[-8rem] mx-auto md:w-[80%] lg:w-[100%] lg:mt-0 lg:pt-6 xl:pt-0;
		}
	}
}
